body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #70c1b3;
}

* {
  font-family: Roboto, sans-serif;
  color: black;
}

header {
  width: 100vw;
  height: 6vh;
  background-color: #247ba0;
  border-radius: 0px 0px 30px 30px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  height: 5vh;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 50px;
}
nav {
  width: 100vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.savedJobs {
  padding: 0.8rem;
  background-color: aliceblue;
  border-radius: 20px;
  font-size: 0.8rem;
}
.savedJobs:hover {
  scale: 1.1;
  transition: 0.5s;
}
input {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50px;
}
main {
  height: 80vh;
  overflow-y: scroll;
  width: 60vw;
  margin: 4rem auto;
  background-color: aliceblue;
  border-radius: 10px;
}
li {
  list-style: none;
  padding: 1.1rem;
  width: 10vw;
}
.jobs {
  display: flex;
  max-width: 47vw;
  border-radius: 1rem;
  border: solid 1px #247ba0;
  align-items: center;
  background-color: rgba(250, 235, 215, 0.548);
  margin: 1rem;
}
.jobs ul{
  display: flex;
  align-items: center;
  min-height: 5rem;
  max-width: 45vw;
}
#listOfJobs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
a {
  text-decoration: none;
}
footer {
  width: 100vw;
  background-color: red;
}
